{% extends "base.html" %}
{% block content %}
    <header>
        <h1>Property</h1>
    </header>
    <section>
        <div class="container">
        {% for item in data %}
            <a href="{{url_for('property.property_item',_id = item._id) }}">
            <div class="card" style="width: 18rem;">
                <img src="{{ item.img_list[1] }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ item.entry_price }}</h5>
                <h6 class="card-title">{{ item.property_type}}</h6>
                <!-- <p class="card-text"></p> -->
                </div>
            </div> 
            </a>
        {% endfor %}
        </div>
    </section>
{% endblock %}